.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d32f2f; /* Red color for delete icon */
  font-size: 18px;
}

.delete-button:hover {
  color: #b71c1c; /* Darker red on hover */
}

.custom-dialog-container {
  margin: 20px;
  border-radius: 8px;
  overflow: unset !important;
  max-width: 1000px;
  max-height: 400px;
  word-wrap: break-word;
  padding: 20px;
  box-sizing: border-box;
}