<div *ngIf="isLoading" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<!-- Table to display expenses -->
<table *ngIf="!isLoading && !errorMessage" border="1" style="width: 100%; border-collapse: collapse; text-align: left; margin-top: 10px;">
    <thead>
        <tr>
            <th style="padding: 8px;">
                ID
                <span (click)="sortByColumn('id')" style="cursor: pointer;">
                    {{ sortColumn === 'id' ? (sortState === 'asc' ? '▲' : '▼') : '↕' }}
                </span>
            </th>
            <th style="padding: 8px;">
                Date
                <span (click)="sortByColumn('date')" style="cursor: pointer;">
                    {{ sortColumn === 'date' ? (sortState === 'asc' ? '▲' : '▼') : '↕' }}
                </span>
            </th>
            <th style="padding: 8px;">
                Description
                <span (click)="sortByColumn('description')" style="cursor: pointer;">
                    {{ sortColumn === 'description' ? (sortState === 'asc' ? '▲' : '▼') : '↕' }}
                </span>
            </th>
            <th style="padding: 8px;">
                Category
                <span (click)="sortByColumn('category')" style="cursor: pointer;">
                    {{ sortColumn === 'category' ? (sortState === 'asc' ? '▲' : '▼') : '↕' }}
                </span>
            </th>
            <th style="padding: 8px;">
                Amount
                <span (click)="sortByColumn('amount')" style="cursor: pointer;">
                    {{ sortColumn === 'amount' ? (sortState === 'asc' ? '▲' : '▼') : '↕' }}
                </span>
            </th>
            <th style="padding: 8px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of expenses">
            <td style="padding: 8px;">{{ expense.id }}</td>
            <td style="padding: 8px;">{{ expense.date | date:'dd-MM-yyyy' }}</td>
            <td style="padding: 8px;">{{ expense.description }}</td>
            <td style="padding: 8px;">{{ expense.category }}</td>
            <td style="padding: 8px;">{{ expense.amount | currency:'INR' }}</td>
            <td style="padding: 8px;">
              <app-delete-expense (expenseDeleted)="onExpenseDeleted($event)" [expenseId] ="expense.id"></app-delete-expense>
            </td>
        </tr>
    </tbody>
</table>